.contact-ticker {
    margin-bottom: 30px;
    margin-top: 20px;
    width: 100%;
    height: 80px;
    /* Adjust the height to make it bigger */
    overflow: hidden;
    position: relative;
    background-color: transparent;
    /* Transparent background */
    border-top: 2px solid #333;
    /* Top border */
    border-bottom: 2px solid #333;
    /* Bottom border */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-ticker-content {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-size: 36px;
    /* Adjust the font size to make it bigger */
    position: absolute;
    display: inline-block;
    font-family: Boom;
  }
  
  .contact-ticker-content li {
    display: inline;
    padding: 0 20px;
    position: relative;
  }

  body{
	padding: 0;
	margin: 0;
  }

  .info{
	font-size: 30px;
	color: #9b9b9b;
	font-family: aaa;
	width: 50%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  
  .tick{
	color: rgb(125, 209, 0);
	font-size: 80px;
  }

  input{
	border: 1px solid #000;
	height: 20px;
	color: rgb(255, 0, 106);
	background-color: #ccc;
	margin: 10px 0;
	font-family: aaa;
  }

  input:focus{
	outline: none;
  }

  .instructions{
	font-family: aaa;
	display: flex;
	justify-content: center;
  }

  span{
	font-family: Boom;
  }

  .bt{
	padding-right: 50px;
	border-right: 3px solid #000;
	float: left;
	margin: 40px;
  }

  .ep{
	padding-right: 50px;
	border-right: 3px solid #000;
	float: left;
	margin: 40px;
  }

  .jc{
	padding-right: 50px;
	float: left;
	margin: 40px;
  }
